
article#%%_ARTICLE_ID_%%.qv-object-EasyTableTooltip .qv-object-nav.inline {
	display: none;
}

article#%%_ARTICLE_ID_%%.qv-object-EasyTableTooltip .eTableTooltip-span {
	display: none;  
	padding: 4px 8px;
	border-radius: 3px;
	position: fixed;
	white-space: pre-wrap;
}

article#%%_ARTICLE_ID_%%.qv-object-EasyTableTooltip .eTableTooltip-span img {
	display: block;
	margin: 0;
	padding: 4px 0;
}

article:not(.qv-object-EasyTableTooltip):not(.qv-object-EasyTooltip) {
    z-index: 2;
}

article#%%_ARTICLE_ID_%%.qv-object-EasyTableTooltip {
    z-index: 3;
}

article#%%_ARTICLE_ID_%%.qv-object-EasyTableTooltip span.eTableTooltip-span {
	z-index: 4;
}

article#%%_ARTICLE_ID_%%.qv-object-EasyTableTooltip div.eTableTooltip-div-text {
	z-index: 5;
}